@font-face {
    font-family: "OpenSanse-Regular";
    src: local("OpenSanse-Regular"),
      url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  }

.welcome {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    
    text-transform: uppercase;
    color: #fff;
    
    min-width: 1200px;
    min-height: 200px;
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 10px;
    font-family: OpenSanse-Regular, sans-serif;
    text-align: center;

    position: relative;
    z-index: 0;
}

.welcome:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.45;
    z-index: -1;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 30px;
    padding: 20px 200px;
  }

  .menu ul {
    display: flex;
    list-style: none;
    list-style-type: none;
    margin-right: 200px;
    margin-top: 30px;
    position: absolute;
    top: 0;
    right: 0;
  }

li {
  padding: 0 5px;
  font-size: 12px;
}
